PATH_add tools/bin

export NIX_PATH="nixpkgs=https://github.com/NixOS/nixpkgs-channels/archive/nixos-18.09.tar.gz:expo=`pwd`"

source_local() {
  file=./.envrc.local
  if [[ -f "$file" ]]; then
    source_env $file
  fi
  watch_file $file
}

source_local
